<div
  class="fixed flex items-start flex-col bottom-8 left-0 z-20 pt-4 ml-6 before:block before:w-0.5 before:opacity-20 before:h-[calc(100vh_-_284px)] before:bg-white before:absolute before:bottom-full before:left-0 before:right-0.5 before:mx-auto"
>
  <a class="px-1 py-2" href="/">
    <img
      class="w-6 h-6 block"
      src="/assets/fb.svg"
      alt="Yaroslav Boiko's facebook social icon"
    />
  </a>
  <a class="px-1 py-2" href="/">
    <img
      class="w-5 h-6 block"
      src="/assets/twtr.svg"
      alt="Yaroslav Boiko's twitter social icon"
    />
  </a>
  <a class="px-1 py-2" href="/">
    <img
      class="w-6 h-6 block"
      src="/assets/lkd.svg"
      alt="Yaroslav Boiko's linkedin social icon"
    />
  </a>
  <a class="px-1 py-2" href="/">
    <img
      class="w-6 h-6 block"
      src="/assets/tg.svg"
      alt="Yaroslav Boiko's telegram social icon"
    />
  </a>
</div>

<style>
  .logo {
    width: 52px;
  }
</style>
