---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import SocialLinks from "../components/SocialLinks.astro";

import "@fontsource/jetbrains-mono";
import "@fontsource/inter";
import "../styles/global.css";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
    <SocialLinks />
  </body>
</html>
